## Python Basic, Session-2, 
# Variables, PEP8, Docstrings,....

##Docstring kullanÄ±m alanlarÄ±:
1. Fonksiyon ya da programÄ± aÃ§Ä±klayan bir belge hazÄ±rlamak iÃ§in kullanÄ±lÄ±r. Docstring iÃ§eriÄŸini okumak iÃ§in '. __ doc __' Ã¶zelliÄŸi/keywordu kullanÄ±lÄ±yor

In [1]:
print(print.__doc__)

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

In [2]:
def benim_fonksiyonum():
    """
    Hi, I am the docstring of this code. 
    If you need any information about this function or module, read me. 
    It can help you understand how the module or function works.
    """
    # print("ÅŸu anda docstringi aÃ§Ä±klÄ±yorum")
    pass

In [3]:
print(benim_fonksiyonum.__doc__)

    Hi, I am the docstring of this code.
    If you need any information about this function or module, read me.
    It can help you understand how the module or function works.

In [4]:
print(map.__doc__)

map(func, *iterables) --> map object

Make an iterator that computes the function using arguments from
each of the iterables.  Stops when the shortest iterable is exhausted.

In [5]:
print(sum.__doc__)

Return the sum of a 'start' value (default: 0) plus an iterable of numbers

When the iterable is empty, return the start value.
This function is intended specifically for use with numeric values and may
reject non-numeric types.

In [6]:
print("mesajÄ±m", "benim")
print("budur")

mesajÄ±m benim
budur

In [7]:
print("mesajÄ±m", "benim", sep=" - ", end="")
print("budur")

mesajÄ±m - benimbudur

2. kullanÄ±m ÅŸekli de kod satÄ±rlarÄ±nÄ± test amaÃ§lÄ± kullanÄ±lÄ±r.

In [10]:
def topla(a,b):
    # test kodum
    """
    >>> topla(3,3)
    5
    >>> topla(2,3)
    5
    """
    return a+b
#ana program
import doctest
doctest.testmod()

**********************************************************************
File "__main__", line 3, in __main__.topla
Failed example:
    topla(3,3)
Expected:
    5
Got:
    6
**********************************************************************
1 items had failures:
   1 of   2 in __main__.topla
***Test Failed*** 1 failures.

TestResults(failed=1, attempted=2)

DeÄŸiÅŸken isimlendirme kurallarÄ±:
1- '_' hariÃ§ Ã¶zel karakterler  (+,%,/?-...)kullanÄ±lmaz 
2. DeÄŸiÅŸken adÄ± rakamla baÅŸlamaz (5ad gibi )
3. Python keywordleri deÄŸiÅŸken adÄ± olarak kullanÄ±lamaz (not, is,...)
-----
4. PEP8 kuralÄ± olarak birden fazla kelimeden oluÅŸan deÄŸiÅŸken isimlerinde arada '_' kullanÄ±lÄ±r.
5. DeÄŸiÅŸken veya fonksiyon isimlerinnde kÃ¼Ã§Ã¼k harfler kullanÄ±lÄ±r..
6. TÃ¼rkÃ§e karakterler kullanmamaya Ã¶zen gÃ¶steriniz..

In [ ]:
ad soyad = "ali veli"  # DoÄŸru deÄŸil

In [ ]:
ad_soyad = "ali veli"  # DoÄŸrusu

In [ ]:
5levent = "istanbul"  # DoÄŸru deÄŸil

In [ ]:
no.5 = "ali"   # DoÄŸru deÄŸil

In [ ]:
not = 50  # DoÄŸru deÄŸil (keyword)

Python keywordleri

In [11]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
# Ä°ngilizce karÄ±ÅŸtÄ±rÄ±labilecek harfler kullanÄ±lmamalÄ±
O = "ali" # 0 karÄ±ÅŸtÄ±rÄ±labilir
l = "veli"  # 1, I karÄ±ÅŸtÄ±rÄ±labilir
# I, b, B karÄ±ÅŸtÄ±rabilir

In [12]:
print("first line")
# print("second line")
print("thirth line")

first line
thirth line

In [ ]:
# Average income of February
average_income_of_february = 20000 # ÅŸÄ±k deÄŸil
avg_income_feb = 20000

In [ ]:
# Big Data
big_data = "2,3,6,7,6"
# b_d veya b_dt

In [ ]:
#students
students = "ali dede"
# s veya st, sdnt anlamlÄ± olmuyor....

In [ ]:
# nasÄ±l isimlendirilir?
# the list of prime numbers
list_prime_no = "1,3,5,7,11,13"

In [ ]:
# nasÄ±l isimlendirilir?
# the list of mathematics exam scores
list_math_scores = "50, 78, 90"

In [ ]:
# nasÄ±l isimlendirilir?
# amount of rotten fruits
amount_fruit_rotten = 56 #snake case
amnt_fruit_rotten = 56 #gibi
AmountRottenFruit #camel case veya 
amountRottenFruit #pascal case

In [13]:
x = y = z = "same"
print(x)
print(y)
print(z)

same
same
same

In [14]:
x, y, z = "same"
print(x)
print(y)
print(z)

ValueError: ignored

In [15]:
x, y, z = "same", "same", "same"
print(x)
print(y)
print(z)

same
same
same

In [17]:
x, y = 6, 60
# x ve y iÃ§erikleri yer deÄŸiÅŸtirsin?
# geÃ§ici 3. deÄŸiÅŸkene ihtiyaÃ§ var
z = x  # x deÄŸiÅŸkeninin iÃ§eriÄŸi z ye aktarÄ±ldÄ±
x = y  # y nin iÃ§eriÄŸi x e aktarÄ±ldÄ±
y = z  # z nin (x in ilk hali) iÃ§eriÄŸi y aktarÄ±ldÄ±
print("x = ",x)
print("y = ",y)

x =  60
y =  6

In [18]:
# pythonic Ã§Ã¶zÃ¼m
x, y = 6, 60
# x ve y iÃ§erikleri yer deÄŸiÅŸtirsin?
x, y = y, x
print("x = ",x)
print("y = ",y)

x =  60
y =  6

In [19]:
#ilk/baÅŸlangÄ±Ã§ durumu
x, y, z = 60, 6, 10
z = y  #z = 6
y = x  #y = 60
x = z  #x = 6
print("x = ",x)
print("y = ",y)
print("z = ",z)
# istenen Ã§Ä±ktÄ±
# x = 6, y = 60, z = 6

x =  6
y =  60
z =  6

In [20]:
# pythonic Ã§Ã¶zÃ¼m
#ilk/baÅŸlangÄ±Ã§ durumu
x, y, z = 60, 6, 10
# istenen Ã§Ä±ktÄ±
x, y, z = y, x, y
# x = 6, y = 60, z = 6 
print("x = ",x)
print("y = ",y)
print("z = ",z)

x =  6
y =  60
z =  6

In [21]:
# pythonic Ã§Ã¶zÃ¼m
#ilk/baÅŸlangÄ±Ã§ durumu
x, y, z = 60, 6, 10
# istenen Ã§Ä±ktÄ±
x, y, z = y, x, y
# x = 6, y = 60, z = 6 
print(x)
print(y)
print(z)

6
60
6

In [24]:
january = march = may = july = august = october = december = 31
april = june = september =november =  30
february = None  # 28
print(january, february, march, april, may, june, july, august, september, october, november, december)

31 None 31 30 31 30 31 31 30 31 30 31

In [25]:
web_site = "apple.com"
print(web_site)

web_site = "clarusway.com"
print(web_site)

apple.com
clarusway.com

In [26]:
web_site = "apple.com"

web_site = "clarusway.com"
print(web_site)

clarusway.com

In [27]:
first_number = 100
second_number = first_number
print(second_number)

100

In [28]:
first_number = 100
second_number = "first_number"
print(second_number)

first_number

In [29]:
x = 15
y = 33
z = x
x = y

print(x)
print(y)
print(z)

33
33
15

In [30]:
x = 15
y = 33
z = x
x = y

print(x, y, z)

33 33 15

In [33]:
x = 15
y = 33
z = x
x = y

print(x, end=",")
print(y, end=",")
print(z)

33,33,15

In [34]:
a, b, c = 5, 3.2, "Hello"

print(a)
print(b)
print(c)

5
3.2
Hello

In [35]:
a, b, c = 5, 3.2, "Hello"

print(a, b, c)

5 3.2 Hello

In [37]:
a, b, c = 5, 3.2, "Hello"

print(a, b, c, sep=", ")

5, 3.2, Hello

In [38]:
man = "andrew"
color = "green"
age = 32
pi = 3.14
color = "yellow"
age = 44
man = "joseph"

print(man, age, color)

joseph 44 yellow

her deÄŸiÅŸkenin, verinin, fonksiyonun (nesnenin) bir tipi vardÄ±r. Ve bu tipi 'type()' fonksiyonu ile Ã¶ÄŸrenebiliriz

In [39]:
type("4")

str

In [40]:
type(4)

int

In [41]:
a = 4
print(type(a))

<class 'int'>

In [42]:
a = 4
type(a)

int

In [43]:
my_text = "being a good person"
print(my_text)

being a good person

In [44]:
my_text = "being a good person"
print(type(my_text))

<class 'str'>

In [45]:
my_text = 'being a good person'
print(my_text)

being a good person

In [47]:
my_text = ('being a good person')
print(type(my_text))

<class 'str'>

In [48]:
my_text = ('being a good person', )
print(type(my_text))

<class 'tuple'>

In [49]:
my_text = """being a good person"""
print(my_text)

being a good person

In [50]:
my_text = '''being a good person'''
print(my_text)

being a good person

In [51]:
## Stringler ASCII ve unicode karakterleri tamamÄ±nÄ± alabilir
my_text = ",;_-983445%&/&^ðŸ˜€ðŸ˜€ðŸ˜€"
print(my_text)

,;_-983445%&/&^ðŸ˜€ðŸ˜€ðŸ˜€

In [53]:
my_text = ",;_-983445%&/& \
ðŸ˜€ðŸ˜€ðŸ˜€"
print(my_text)

,;_-983445%&/& ðŸ˜€ðŸ˜€ðŸ˜€

In [54]:
my_text = """,;_-9834
45%&/& \
ðŸ˜€ðŸ˜€ðŸ˜€"""
print(my_text)

,;_-9834
45%&/& ðŸ˜€ðŸ˜€ðŸ˜€

In [55]:
fish = """
  _
 /_|
('_)<|
 \_|
"""

print(fish)

  _
 /_|
('_)<|
 \_|

In [56]:
fish2 = """
\_____)\_____
/--v____ __`<         
        )/           
        '
"""
print(fish2)

\_____)\_____
/--v____ __`<
        )/
        '

In [57]:
type(fish2)

str

In [58]:
my_int = 40
my_float = 3.145

print(type(my_int))
print(type(my_float))

<class 'int'>
<class 'float'>

In [59]:
type(fish3)

NameError: ignored

In [60]:
type(fish)

str

In [61]:
a = True  # 1
b = False  # 0
print(type(a))
print(type(b))

<class 'bool'>
<class 'bool'>

In [63]:
a = True
print(type(a))

print(int(a))
print(type(a))

<class 'bool'>
1
<class 'bool'>

In [65]:
a = True
print(type(a))

a2 = int(a)
print(type(a2))
print(a2)

<class 'bool'>
<class 'int'>
1

In [66]:
int(False)

0

In [67]:
int(True)

1

In [68]:
PI = 3.14
const_pi = int(PI)
print(const_pi)

3

In [69]:
text = "5.2022"
print(float(text))

5.2022

In [70]:
text = "5.2022"
print(int(text))

ValueError: ignored

In [71]:
text = "5 May 2022"
print(int(text))

ValueError: ignored

In [72]:
text = "52022"
print(int(text))

52022

In [73]:
text = "520"
print(int(text) + 22 )

542

In [74]:
text = "520"
print(int(text) + str(22) )

TypeError: ignored

In [75]:
text = "520"
print(text + str(22) )

52022

In [76]:
print(bool(0))
print(bool(5)) #SÄ±fÄ±r, None haricindeki deÄŸerler True dur

False
True