## Python Basics: Session-8: Tuples, Dicts, Sets
## 11 June 2022

In [1]:
"Hatırlama: Python Lists"
# indis: 0  1  2  3  4  5  6  7
#       -8 -7 -6 -5 -4 -3 -2 -1 
liste = [1, 2, 4, 5, 9, 7, 3, 12]
#dilimleme [start, stop-1, step]
print(liste[::-1])      #ters çevirir
print(liste[-1:0:-1])   #ters çeviri ama 0. indisi dahil etmez
print(liste[5:0:-1])    #(5-1). indisli elemanları ters sırada verir.    
print(liste[-3:-8:-1])  #(5-1). indisli elemanları ters sırada verir. 

# Not: 
# Normal (artım miktarı pozitif) indisleme de start<stop olmalı...
# Artım miktarı negatif ise (ters sırada dilimleme yapar) indislerin start>stop olmalı
print(liste[0:5:-1])    #boş liste döndürür

[12, 3, 7, 9, 5, 4, 2, 1]
[12, 3, 7, 9, 5, 4, 2]
[7, 9, 5, 4, 2]
[7, 9, 5, 4, 2]
[]

In [2]:
print(len([1,2,3]))

3

In [3]:
print(len([[1,2,3]]))

1

In [4]:
print(len([[1,2,3]][0]))

3

In [5]:
liste = [[1,2,3], [2,3]]
print(liste[0])

[1, 2, 3]

In [6]:
print([1,2,3,4,5,6,7,8][1::3])

[2, 5, 8]

In [7]:
print((1,2,3,4,5,6,7,8)[1::3])

(2, 5, 8)

In [8]:
liste = [[13, [15,3,4], ['a',5,'abc'], None]]
print(liste[::-1])  ##ters çevirir

[[13, [15, 3, 4], ['a', 5, 'abc'], None]]

In [10]:
liste = [[13, [15,3,4], ['a',5,'abc'], None]]
print(liste[0][::-1])  ##ters çevirir

[None, ['a', 5, 'abc'], [15, 3, 4], 13]

In [11]:
print([[13, [15,3,4], ['a',5,'abc'], None]][0][::-1])  ##ters çevirir

[None, ['a', 5, 'abc'], [15, 3, 4], 13]

In [9]:
liste = [['ab']]
print(liste[::-1])

[['ab']]

In [12]:
t = ([1,2,3])
print(type(t))

<class 'list'>

In [13]:
t = ([1,2,3],)
print(type(t))

<class 'tuple'>

In [14]:
t = [1,2,3], [2]
print(type(t))

<class 'tuple'>

In [16]:
c = tuple([1,2,3]) ## type: tuple
print(type(c))
print(c)

<class 'tuple'>
(1, 2, 3)

In [20]:
c = tuple([1,2,3], 4,5) ## type: tuple
print(type(c))
print(c)

TypeError: ignored

In [19]:
c = tuple(([1,2,3], 4,5)) ## type: tuple
print(type(c))
print(c)

<class 'tuple'>
([1, 2, 3], 4, 5)

In [21]:
print(dir(tuple))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [22]:
t = (1,2,3,4,0,4,5,0,1,7,8,4)
## t içerisinde 4 kaç kez geçiyor
print(t.count(4))

3

In [ ]:
"Hatırlama: Python Tuples"
a = (1)  ## type: int
a = (1,) ## type: tuple
b = 1,2,3  ## type: tuple
c = tuple([1,2,3,4]) ## type: tuple
d = tuple('a')  ## type: tuple
print(b, c, d, sep="\n")

print(dir(tuple))   ## #tuple methods: 'count', 'index'
tuples = (1, 2, 'hi', 3)
print(tuples.index('hi'))  ## 2 (index of 'hi')
print(tuples.count('hi'))  ## 1 (count of 'hi')

print(tuples[2])    ## hi (accessing a single item)
# tuples[2] = 'bye' ## NO, tuples cannot be changed
# del tuples[2]     ## NO, tuples cannot be changed

tuples = (1, 2, 'bye', 3 )  ## this works because new tuple
print(tuples)
a,b,c,d = tuples    ## unpacking
print(c)            ## 'bye'

tuples1 = (1,2,9,4,5,6,7,0)
print(len(tuples1)) ## 8
print(max(tuples1)) ## 9
print(min(tuples1)) ## 0
print(sum(tuples1)) ## 34 (sum of items)

In [24]:
even_no = (0, 2, 4)
print(even_no[0])
print(even_no[3])  ## olmayan eleman erişme sorunu

0

IndexError: ignored

In [25]:
city_list = ['Tokyo', 'Istanbul', 'Moskow', 'Dublin']
city_tuple = tuple(city_list)
city_tuple[0] = 'New York'  ## immutable

TypeError: ignored

In [26]:
mix_tuple = ('11', 11, [2, 'two', ('six', 6)], (5, 'fair'))
six_data = mix_tuple[2][2][0]
print(six_data)

six

In [27]:
mix_tuple = ('11', 11, [2, 'two', ('six', 6)], (5, 'fair'))
str_six = mix_tuple[2][1:3]
print(str_six, type(str_six), sep='\n')

['two', ('six', 6)]
<class 'list'>

In [28]:
mix_tuple = ('11', 11, [2, 'two', ('six', 6)], (5, 'fair'))
str_six = mix_tuple[2][2:3]
print(str_six, type(str_six), sep='\n')

[('six', 6)]
<class 'list'>

In [30]:
mix_tuple = ('11', 11, [2, 'two', ('six', 6)], (5, 'fair'))
str_six = mix_tuple[2][2]
print(str_six, type(str_six), sep='\n')

('six', 6)
<class 'tuple'>

In [31]:
mix_tuple = ('11', 11, [2, 'two', ('six', 6)], (5, 'fair'))
str_six = mix_tuple[2][2:2]
print(str_six, type(str_six), sep='\n')

[]
<class 'list'>

In [29]:
mix_tuple = ('11', 11, [2, 'two', ('six', 6)], (5, 'fair'))
str_six = mix_tuple[3][0:2]
print(str_six, type(str_six), sep='\n')

(5, 'fair')
<class 'tuple'>

In [32]:
mix_tuple = ('11', 11, [2, 'two', ('six', 6)], (5, 'fair'))
last = mix_tuple[-1]
print(last, type(last), sep='\n')

(5, 'fair')
<class 'tuple'>

In [33]:
mix_tuple = ('11', 11, [2, 'two', ('six', 6)], (5, 'fair'))
last = mix_tuple[-1][-1]
print(last, type(last), sep='\n')

fair
<class 'str'>

In [34]:
mix_tuple = ('11', 11, [2, 'two', ('six', 6)], (5, 'fair'))
last = mix_tuple[3][1]
print(last, type(last), sep='\n')

fair
<class 'str'>

In [35]:
print('abcdefcdghcd'.split('cd'))

['ab', 'ef', 'gh', '']

In [36]:
'   1   2   3   '.split()

['1', '2', '3']

In [38]:
'   1   2   3  "a" '.split()

['1', '2', '3', '"a"']

In [39]:
print(' cdabcdefcdghcd '.split('cd'))

[' ', 'ab', 'ef', 'gh', ' ']

In [40]:
print(' cd abcdef cdghcd '.split())

['cd', 'abcdef', 'cdghcd']

In [ ]:
print(' cd abcdef cdghcd '.split())

In [41]:
print('ab cd ef cd gh cd'.split())

['ab', 'cd', 'ef', 'cd', 'gh', 'cd']

In [42]:
print(list('abcdefcdghcd'))

['a', 'b', 'c', 'd', 'e', 'f', 'c', 'd', 'g', 'h', 'c', 'd']

In [43]:
a = [1, 2, 7, 8]
## Write a Python statement using slice assignment that will fill in the missing values so that a equals [1, 2, 3, 4, 5, 6, 7, 8].
a.insert(2,[3,4,5,6])
print(a)

[1, 2, [3, 4, 5, 6], 7, 8]

In [45]:
a = [1, 2, 7, 8]
## Write a Python statement using slice assignment that will fill in the missing values so that a equals [1, 2, 3, 4, 5, 6, 7, 8].
a.insert(2,3)
a.insert(3,4)
a.insert(4,5)
a.insert(5,6)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8]

In [48]:
a = [1, 2, 7, 8]
## Write a Python statement using slice assignment that will fill in the missing values so that a equals [1, 2, 3, 4, 5, 6, 7, 8].
a.extend([3,4,5,6])
a.sort()
print(a)

[1, 2, 3, 4, 5, 6, 7, 8]

In [49]:
a = [1,2, 7, 8]
## Write a Python statement using slice assignment that will fill in the missing values so that a equals [1, 2, 3, 4, 5, 6, 7, 8].
a[1:2] += [3,4,5,6]
print(a)

[1, 2, 3, 4, 5, 6, 7, 8]

In [52]:
a = [1,2,7, 8]
## Write a Python statement using slice assignment that will fill in the missing values so that a equals [1, 2, 3, 4, 5, 6, 7, 8].
print(a[2:2])
a[2:2] = [3,4,5,6]
print(a)

[]
[1, 2, 3, 4, 5, 6, 7, 8]

In [54]:
# Sırasız bir listen var, en büyük 2. elemanı nasıl bulursunuz?
arr = [3,4,8,9,2,1,0,45, 56,23,5,7]
arr.sort()
print(arr[-2])

45

In [56]:
# Sırasız bir listen var, en büyük 2. elemanı nasıl bulursunuz?
arr = [3,4,8,9,2,1,0,45,56,23,5,7]
max_2 = max(arr)
arr.remove(max_2)
print(max(arr))

45

In [57]:
grocer1 = {'fruit':'apple', 'drink':'water'}
grocer2 = dict(fruit='apple', drink='water')  ## Eşdeğeri
print(grocer1)
print(grocer2)

{'fruit': 'apple', 'drink': 'water'}
{'fruit': 'apple', 'drink': 'water'}

In [58]:
state_capitals = {'Arkansas':'Little Rock',
			'Colorado':'Denver',
			'California':'Sacramento',
			'Georgia':'Atlanta'
			}
print(state_capitals['Colorado'])

Denver

In [59]:
state_capitals = {'Arkansas':'Little Rock',
			'Colorado':'Denver',
			'California':'Sacramento',
			'Georgia':'Atlanta'
			}
print(state_capitals[1])

KeyError: ignored

In [62]:
number = {'1':'Bir',
		  '2':'iki',
		  '3':'Üç',
		  '4':'Dört'
			}
print(number['1'])

Bir

In [63]:
number = {1:'Bir',
		  2:'iki',
		  3:'Üç',
		  4:'Dört'
			}
print(number[1])

Bir

In [ ]:
"""
[] #liste
[] indis değeri tanımlamada
[key] sözlük key (eleman erişiminde)

{sözlük, küme}, f-stringlerde değişken değerini alırken {a}

(tuple), metot_ismi() veya fonksiyon_ismi(argüman1, argüman,,)
matematiksel işlemlerde gruplama amaçlı (a+b)
operatörler: <, >, %, 
"""

In [64]:
state_capitals = {'Arkansas':'Little Rock',
			'Colorado':'Denver',
			'California':'Sacramento',
			'Georgia':'Atlanta'
			}
state_capitals['Virginia'] = "Richmond"
print(state_capitals)

{'Arkansas': 'Little Rock', 'Colorado': 'Denver', 'California': 'Sacramento', 'Georgia': 'Atlanta', 'Virginia': 'Richmond'}

In [65]:
state_capitals = {'Arkansas':'Little Rock',
			'Colorado':'Denver',
			'California':'Sacramento',
			'Georgia':'Atlanta'
			}
state_capitals['Colorado'] = "Tokyo" ##mutable
print(state_capitals)

{'Arkansas': 'Little Rock', 'Colorado': 'Tokyo', 'California': 'Sacramento', 'Georgia': 'Atlanta'}

In [70]:
mix_values = {'animal':('dog','cat'),
			'planet': ['Neptun', 'Saturn', 'Jupiter'],
			'number': 40,
			'pi':3.14,
			'is_good': True}

mix_keys = {22:'integer',
		1.2:'float',
        '24ab':'test',
		True:'boolean',
		'key':'string',
        3+4j: 'complex'}

In [72]:
family = {'name1': 'Joseph', 
          'name2': 'Bella',
          'name3': 'Aisha'
         }
#new item add
family['name4']='Bulend'
print(family)

{'name1': 'Joseph', 'name2': 'Bella', 'name3': 'Aisha', 'name4': 'Bulend'}

In [73]:
dict_by_dict = dict(animal='dog', planet='neptun', number=40, pi=3.14, is_good=True)
print(dict_by_dict)

{'animal': 'dog', 'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True}

In [74]:
dict_by_dict = dict(animal='dog', planet='neptun', number=40, 4pi=3.14, is_good=True)
print(dict_by_dict)

SyntaxError: ignored

In [75]:
family = dict(name1 = 'Atilla',
              name2 = 'Tarkan',
              name3 = ' Osman',
              name4 = 'Fatma')
print(family)

{'name1': 'Atilla', 'name2': 'Tarkan', 'name3': ' Osman', 'name4': 'Fatma'}

In [76]:
family = dict(name1= 'Joseph', name2= 'Bella', name3='Aisha', name4= 'Bulend')
print(family)

{'name1': 'Joseph', 'name2': 'Bella', 'name3': 'Aisha', 'name4': 'Bulend'}

In [77]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [81]:
dict_by_dict = {'animal':'dog',
			'planet': 'Neptun',
			'number': 40,
			'pi':3.14,
			'is_good': True}

##sadece values
print(dict_by_dict.values())
## sadece keyS
print(dict_by_dict.keys())
# tüm elemanlar
print(list(dict_by_dict.items()))

dict_values(['dog', 'Neptun', 40, 3.14, True])
dict_keys(['animal', 'planet', 'number', 'pi', 'is_good'])
[('animal', 'dog'), ('planet', 'Neptun'), ('number', 40), ('pi', 3.14), ('is_good', True)]

In [85]:
family = dict(name1= 'Joseph', name2= 'Bella', name3='Aisha', name4= 'Bulend')
print(list(family.items()))
print(list(family.values()))
print(list(family.keys()))

[('name1', 'Joseph'), ('name2', 'Bella'), ('name3', 'Aisha'), ('name4', 'Bulend')]
['Joseph', 'Bella', 'Aisha', 'Bulend']
['name1', 'name2', 'name3', 'name4']

In [87]:
dict_by_dict = {'animal':'dog',
			'planet': 'Neptun',
			'number': 40,
			'pi':3.14,
			'is_good': True}
dict_by_dict.update({'is_bad': False})
print(dict_by_dict)

{'animal': 'dog', 'planet': 'Neptun', 'number': 40, 'pi': 3.14, 'is_good': True, 'is_bad': False}

In [88]:
dict_by_dict = {'animal':'dog',
			'planet': 'Neptun',
			'number': 40,
			'pi':3.14,
			'is_good': True}
dict_by_dict.update({'pi': 3.14567})
print(dict_by_dict)

{'animal': 'dog', 'planet': 'Neptun', 'number': 40, 'pi': 3.14567, 'is_good': True}

In [89]:
dict_by_dict = {'animal':'dog',
			'planet': 'Neptun',
			'number': 40,
			'pi':3.14,
			'is_good': True}
dict_by_dict.update(is_bad = False)
print(dict_by_dict)

{'animal': 'dog', 'planet': 'Neptun', 'number': 40, 'pi': 3.14, 'is_good': True, 'is_bad': False}

In [90]:
dict_by_dict = {'animal':'dog',
			'planet': 'Neptun',
			'number': 40,
			'pi':3.14,
			'is_good': True}
dict_by_dict.update(is_bad = False, is_normal = 1)
print(dict_by_dict)

{'animal': 'dog', 'planet': 'Neptun', 'number': 40, 'pi': 3.14, 'is_good': True, 'is_bad': False, 'is_normal': 1}

In [91]:
d = dict.fromkeys(range(1,9),'sıfır')
print(d)

{1: 'sıfır', 2: 'sıfır', 3: 'sıfır', 4: 'sıfır', 5: 'sıfır', 6: 'sıfır', 7: 'sıfır', 8: 'sıfır'}

In [92]:
family.update(jason = "yabanci")
print(family)

{'name1': 'Joseph', 'name2': 'Bella', 'name3': 'Aisha', 'name4': 'Bulend', 'jason': 'yabanci'}

In [93]:
Ayse="Ayşe"
family.update({'name5' : Ayse})
print(family)

{'name1': 'Joseph', 'name2': 'Bella', 'name3': 'Aisha', 'name4': 'Bulend', 'jason': 'yabanci', 'name5': 'Ayşe'}

In [94]:
del family['jason']

In [95]:
print(family)

{'name1': 'Joseph', 'name2': 'Bella', 'name3': 'Aisha', 'name4': 'Bulend', 'name5': 'Ayşe'}

In [98]:
del family['name5'], family['name4']

In [99]:
print(family)

{'name1': 'Joseph', 'name2': 'Bella', 'name3': 'Aisha'}

In [97]:
del family['name5', 'name4']

KeyError: ignored

In [96]:
del family['jason']  ## olmayan elemanı silmeye çalıştığımızda KeyError

KeyError: ignored

In [104]:
trEn = {"pazartesi": "monday",
        "salı":"tuesday",
        "çarşamba": "wednesday",
        "perşembe":"thursday",
        "cuma":"friday",
        "cumartesi":"saturday",
        "pazar":"sunday"
        }
ara = input("Türkçe ad..:")
print("İngilizcesi..:", trEn[ara])

Türkçe ad..:cuma
İngilizcesi..: friday

In [106]:
trEn = {"pazartesi": "monday",
        "salı":"tuesday",
        "çarşamba": "wednesday",
        "perşembe":"thursday",
        "cuma":"friday",
        "cumartesi":"saturday",
        "pazar":"sunday"
        }
ara = input("Türkçe ad..:")
print("İngilizcesi..:", trEn.get(ara, "Bu kelime sözlükte yok.."))

Türkçe ad..:cuma
İngilizcesi..: friday

In [108]:
trEn = {"pazartesi": "monday",
        "salı":"tuesday",
        "çarşamba": "wednesday",
        "perşembe":"thursday",
        "cuma":"friday",
        "cumartesi":"saturday",
        "pazar":"sunday"
        }
ara = input("Türkçe ad..:")
print(ara in trEn and trEn[ara] or "Sözlükte yoktur")

Türkçe ad..:ocak
Sözlükte yoktur

In [111]:
#Ailenin belli bir çiftine erişmek istediğimizde;
# liste dönüştürüp, indis numarası ile erişebiliriz
print(list(family.items())[0])

('name1', 'Joseph')