Session 23: Python Tekrar ve OOP **Kavramları**

In [3]:
my_list = ['[ ]' ]
type(my_list)

list

In [4]:
my_list.append("x")

['[ ]', 'x']

In [10]:
my_list.insert(0,"y")
my_list

['y', 'y', '[ ]', 'x']

In [8]:
help(my_list.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

In [11]:
my_list.insert("yy")

TypeError: ignored

In [12]:
def my_func(first="1", second="2"):
    print(int(first+second))

my_func()

12

In [14]:
def my_func(first, second):
    first="1"
    second="2"
    print(int(first+second))

my_func()

TypeError: ignored

In [15]:
def my_func(first, second):
    first = "1"
    second = "2"
    print(int(first+second))

my_func(3,5)

12

In [16]:
def my_func(first, second):
    print(int(first+second))

my_func(3,5)

8

In [ ]:
# lambda parameters: expression 
lambda x: x+1

In [18]:
# lambda parameters: expression 
print((lambda x: x+1)(3)) 
#lambda 'lar bir anonim fonksiyondur.

4

In [17]:
def f(x):
    return x+1
f(3)

4

In [22]:
a = "33"
print(a + (lambda x: int(x))(a))

TypeError: ignored

In [23]:
a = "33"
print(a + (lambda x: (x))(a))

3333

In [24]:
a = "33"
print(int(a) + (lambda x: int(x))(a))

66

In [25]:
power = lambda x,y:x**y
print(power(2,3))

8

In [26]:
count = 0
for i in ["bus"]:
    count += 1
    print(i, count, end='')

bus 1

In [27]:
count = 0
for i in "bus":
    count += 1
    print(i, count, end='')

b 1u 2s 3

In [28]:
condition = (3>1) and (1<1)
if 'condition': #içi dolu string True dur.
    print('It works')
else:
    print('Something error')

It works

In [29]:
condition = (3>1) and (1<1) # True and False = False
if condition: 
    print('It works')
else:
    print('Something error')

Something error

In [30]:
condition = (3>1) and (1<1)
if ['condition']: #içi dolu liste True dur.
    print('It works')
else:
    print('Something error')

It works

In [31]:
fruit = "apple"
veg = "spinach"
out = f"We bought {fruit} and {veg}"  #f-string
print(out)

We bought apple and spinach

In [32]:
fruit = "apple"
veg = "spinach"
out = "We bought {} and {}".format(fruit, veg)  #f-string
print(out)

We bought apple and spinach

In [33]:
fruit = "apple"
veg = "spinach"
out = "We bought {0} and {1}".format(fruit, veg)  #f-string
print(out)

We bought apple and spinach

In [34]:
fruit = "apple"
veg = "spinach"
out = "We bought {1} and {0}".format(fruit, veg)  #f-string
print(out)

We bought spinach and apple

In [35]:
fruit = "apple"
veg = "spinach"
out = "We bought {0} and {1}."format(fruit, veg)  #f-string
print(out)

SyntaxError: ignored

In [36]:
kume = {} #boş küme midir?
type(kume)

dict

In [37]:
kume = set() #boş küme midir?
type(kume)

set

In [39]:
if(1,2):
        print('foo')

foo

In [40]:
if(1,2):
print('foo')

IndentationError: ignored

In [41]:
if(1,2): print('foo')

foo

In [43]:
import pandas as pd
df = pd.read_json("dictionary.json")
#dropna() NaN kayıp verileri siler
print(df)

                     0          1
Sunday         Sonntag        NaN
Monday          Montag        NaN
Tuesday       Dienstag        NaN
Wednesday     Mittwoch        NaN
Thursday    Donnerstag        NaN
Friday         Freitag        NaN
Day                Tag        NaN
Sonntag            NaN     Sunday
Montag             NaN     Monday
Dienstag           NaN    Tuesday
Mittwoch           NaN  Wednesday
Donnerstag         NaN   Thursday
Freitag            NaN     Friday
Tag                NaN        Day

In [54]:
import pandas as pd
df = pd.read_json("dictionary.json", orient="index").dropna()
#dropna() NaN kayıp verileri siler
df_list = list(df.columns)
print(df_list)
eng = []
alm = []
for i in df_list:
    if i not in ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Day']:
        alm.append(i)
    else:
        eng.append(i)

for i in range(7):
    print(eng[i], ":", alm[i])
print("----Tam tersi----")
for i in range(7):
    print(alm[i], ":", eng[i])

['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Day', 'Sonntag', 'Montag', 'Dienstag', 'Mittwoch', 'Donnerstag', 'Freitag', 'Tag']
Sunday : Sonntag
Monday : Montag
Tuesday : Dienstag
Wednesday : Mittwoch
Thursday : Donnerstag
Friday : Freitag
Day : Tag
----Tam tersi----
Sonntag : Sunday
Montag : Monday
Dienstag : Tuesday
Mittwoch : Wednesday
Donnerstag : Thursday
Freitag : Friday
Tag : Day

In [60]:
import pandas as pd
df = pd.read_json("dictionary.json", orient="index").dropna()
#dropna() NaN kayıp verileri siler
df_list = list(df.columns)
print(df_list)
counter = 7
for i in df_list[0:7]:
   b= df_list[counter]
   counter +=1
   print(i,':',b)

print(counter)

['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Day', 'Sonntag', 'Montag', 'Dienstag', 'Mittwoch', 'Donnerstag', 'Freitag', 'Tag']
Sunday : Sonntag
Monday : Montag
Tuesday : Dienstag
Wednesday : Mittwoch
Thursday : Donnerstag
Friday : Freitag
Day : Tag
14

In [61]:
import pandas as pd
df = pd.read_json("dictionary.json", orient="index").dropna()
#dropna() NaN kayıp verileri siler
df_list = list(df.columns)
print(df_list)
eng = []
alm = []
for i in df_list:
    if i not in ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Day']:
        alm.append(i)
    else:
        eng.append(i)
for item in zip(eng, alm) :
  item = list(item)
  a = ' : '.join(item)
  print(a)

['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Day', 'Sonntag', 'Montag', 'Dienstag', 'Mittwoch', 'Donnerstag', 'Freitag', 'Tag']
Sunday : Sonntag
Monday : Montag
Tuesday : Dienstag
Wednesday : Mittwoch
Thursday : Donnerstag
Friday : Freitag
Day : Tag

In [75]:
import pandas as pd
df = pd.read_json("dictionary.json", orient="index").dropna()
#dropna() NaN kayıp verileri siler
df_list = list(df.columns)
print(df_list)
orta = len(df_list)//2 #ortanca elemanın indisini verir
print(orta)
for i in range(orta):
    print(df_list[i],":",df_list[orta+i])
print("\n----Tam Tersi-----\n")
for i in range(orta):
    print(df_list[orta+i], ":", df_list[i])

['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Day', 'Sonntag', 'Montag', 'Dienstag', 'Mittwoch', 'Donnerstag', 'Freitag', 'Tag']
7
Sunday : Sonntag
Monday : Montag
Tuesday : Dienstag
Wednesday : Mittwoch
Thursday : Donnerstag
Friday : Freitag
Day : Tag

----Tam Tersi-----

Sonntag : Sunday
Montag : Monday
Dienstag : Tuesday
Mittwoch : Wednesday
Donnerstag : Thursday
Freitag : Friday
Tag : Day

In [82]:
class Araba:
    pass #ortak özellik ve davranışlara
    
    def calis():
        pass
taksi = Araba() #taksi nesnesi(object)
kamyon = Araba() #kamyon nesnesi (object)
print(type(taksi))
print(type(kamyon))
#fonksiyon ile metot arasındaki fark
#fonksiyon doğrudan çağrılırken
#metot nesne_adi.metot_adi() şeklinde çağrılıyor
#taksi.calis gibi

<class '__main__.Araba'>
<class '__main__.Araba'>

TypeError: ignored

In [77]:
a = 5
b = [3,4,5]
print(type(a))
print(type(b))

<class 'int'>
<class 'list'>

In [91]:
class Araba: ##() kullanılabilir....
    kapi = 5
    #renk = "Mavi"
    
    def __init__(self,marka,renk,kapi):
        self.marka=marka
        self.renk=renk
        self.kapi=kapi

    def aracBilgisi(self):
        print("Markası..:", self.marka)
        print("Rengi..:", self.renk)
        print("Kapı Sayısı..:", self.kapi)

    def calis(self,start):
        start = True
        return self.start
#object'ler oluşturuldu
taksi_toyota = Araba("Toyota", "Kırmızı", 5)
kamyon_bmw = Araba("BMW", "Kırmızı", 2)
kamyon_bmw.renk = "Yeşil"

kamyon_bmw.aracBilgisi()
print("\nToyota Bilgileri\n")
taksi_toyota.aracBilgisi()

if taksi.calis:
    print("Taksi gidiyor")

Markası..: BMW
Rengi..: Yeşil
Kapı Sayısı..: 2

Toyota Bilgileri

Markası..: Toyota
Rengi..: Kırmızı
Kapı Sayısı..: 5
Taksi gidiyor

In [97]:
#class tan başka class'larda kalıtımla türetilebilir...
class AnneBaba:
    def __init__(self,soyad):
        self.soyad = soyad
        print("Soaydım...:", self.soyad)
##AnneBaba clasından başka bir alt class oluşturuyorum
class Evlat(AnneBaba):
    def __init__(self, soyad, alinTerim):
        AnneBaba.__init__(self, soyad)
        self.alinTerim = alinTerim
        print("Alın Terim..:",  self.alinTerim)

hasan_oglan=Evlat("Rossum", "Clarusway Diploması")
print(hasan_oglan)

Soaydım...: Rossum
Alın Terim..: Clarusway Diploması
<__main__.Evlat object at 0x7f91b51d9dd0>